framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        # failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            query.transport:
                dsn: 'sync://'
                retry_strategy:
                    max_retries: 0

            command.transport:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%?queue_name=command'

            event.transport:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%?queue_name=event'

            # failed: 'doctrine://default?queue_name=failed'

        routing:
            Grisendo\DDD\Bus\Query\Query: query.transport
            Grisendo\DDD\Bus\Command\Command: command.transport
            Grisendo\DDD\Bus\Event\DomainEvent: event.transport
            # Route your messages to the transports
            # 'App\Message\YourMessage': async

        default_bus: command.bus
        buses:
            query.bus:
                middleware:
                    - validation
            command.bus:
                middleware:
                    - validation
                    - doctrine_transaction
            event.bus:
                default_middleware: allow_no_handlers
                middleware:
                    - validation

# when@test:
#    framework:
#        messenger:
#            transports:
#                # replace with your transport name here (e.g., my_transport: 'in-memory://')
#                # For more Messenger testing tools, see https://github.com/zenstruck/messenger-test
#                async: 'in-memory://'
